<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLOOD_BANK_MANAGEMENT_SYSTEM.Properties.Settings.raj039ConnectionString"
            connectionString="server=RAJNEESH;user id=root;password=GLOOMBLOOMboomporn@111;database=raj039"
            providerName="MySql.Data.MySqlClient" />
        <add name="BLOOD_BANK_MANAGEMENT_SYSTEM.Properties.Settings.bloodbankConnectionString"
            connectionString="server=localhost;user id=root;database=bloodbank;password=GLOOMBLOOMboomporn@111"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>